* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

li {
    display: inline-block;
}

header {
    border-color: rgb(143, 142, 142);
}

.header-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: black;
    box-shadow: 10px 5px 5px 5px rgb(124, 124, 124);
}

.logo-img {
    width: 80px;
    height: auto;
    margin-left: 2rem;
}

.img-text-grid-align {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    padding: 1rem;
    gap: 20px;
}

h1 {
    font-size: 8ch;
    color: white;
}

.sign-in {
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}

.nav-txt {
    font-size: 4ch;
    margin-right: 2.5rem;
    color: white;
}

.center-text {
    display: grid;
    place-items: center;
}

form {
    height: 100px;
    align-items: center;
}

.input-size {
    width: 150px;
    height: 50px;
    border: 3px solid rgb(241, 142, 13);
    border-radius: 12px;
    outline: none;
    padding-left: 5px;
}

.eight-column-grid {
    display: grid;
    grid-template-columns: 1fr repeat(6, auto) 1fr;
    max-height: 300px;
    gap: 40px;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.main-img {
    margin-top: 1rem;
    border-radius: 10px;
}

h3 {
    font-size: 6ch;
    font-family: 'Poppins', sans-serif;
}

div > p {
    font-size: 3ch;
    font-family: 'Poppins', sans-serif;
} 

.background {
    background-color: rgba(0, 0, 0, 0.986);
    opacity: 0.90;
    color: white;
    padding: 10px;
    margin-top: 1rem;
}

.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    height: auto;
    width: 500px;
    border: 2px solid rgb(187, 187, 187);
    margin-bottom: 10px;
    overflow: hidden;
}

.card-img {
    width: 500px;
    height: auto;
}

.card h2 {
    padding-left: 1rem;
    padding-top: .3rem;
    color: black;
    font-family: 'Lato', sans-serif;
}

.card p {
    padding-left: 1rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    color: black;
    font-family: 'Lato', sans-serif;
}

.page-icon-grid {
    display: grid;
    grid-template-columns: 1fr repeat(4, auto) 1fr;
    margin-top: 2.3rem;
    gap: 30px;
    place-items: center;
}

.page-icons {
    font-size: 4ch;
    color: black;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.page-icons:hover {
    background-color: rgb(241, 142, 13);
    border-radius: 50%;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: rgb(54, 54, 54);
}

.middle-footer-grid {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    gap: 50px;
    align-items: center;
}

.app-grid {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
}

.footer-img {
    width: 70px;
    height: auto;
    display: inline-block;
    margin: 15px;
}

.app-img {
    width: 70px;
    height: auto;
}

.footer-txt {
    color: white;
    text-decoration: none;
    font-size: 3ch;
}

.nav-txt:hover {
    padding-bottom: 5px;
    border-bottom: 5px solid rgb(241, 142, 13);
    border-radius: 10px;
}

.footer-img:hover {
    transform: rotate(10deg);
}

.card:hover {
    border-bottom: 2px solid rgb(241, 142, 13);
}